:root {
    /* --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color:242, 242, 242;
    --body-color: 27, 67, 50;
    --heading-color: #141C26;
    --contrast-color: #73534C;
    --bg-color: #BFBFBF; */
    --opacity: 1;
    --neon-color: rgba(162, 0, 255, var(--opacity));
    --background-mode:black;
    --text-mode: white;
}

body {
    background: #DDDDDD;
}

.navbar {
    background-color: var(--background-mode);
    color: var(--text-mode);
    border-bottom: 2px solid var(--neon-color);
}

.navbar .navbar-brand{
    color: var(--text-mode);
}

.page-container {
    margin-top: 75px;
}

body > nav ul {
    list-style-type: none;
    padding-top: 1em;
}

body > nav ul li{
    display: inline-block;
    padding-right: 1em;
}

/*CSS for any page*/
/*Link color change when hovering*/
a {
    color: var(--text-mode);
    text-decoration-color: var(--text-mode);
}
a:hover {
    color: #3400FF;
}


/*CSS for login page*/
#indexBody {
    background: linear-gradient(#3400FF, #A200FF) fixed;
    /*Makes the body take up the whole page*/
    min-height: 100vh;
}
.bodyIntroAnimation {
    /*animation*/
    animation-name: indexBodyChangeColors;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes indexBodyChangeColors {
    from {background: linear-gradient(#3400FF, #A200FF) fixed;}
    to {background: black;}
}

#allLogIn {
    margin: 0;
    display: block;
    text-align: center;
    /* justify-content: center; */
    /* position: absolute;
    left: 50%;
    top: 50%; */
}

#firebaseui-auth-container {
    opacity: 0;
    transition: opacity 1.5s;
}

#rosefireButton {
    opacity: 0;
    transition: opacity 1.5s;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#loginThe100 {
    color: black;
    font-size: 2.5vw;
    /*Centering "The 100" text*/
    /* margin: 0;
    position: absolute;
    top: 50%;
    left: 50%; */
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}
.textIntroAnimation {
    /*animation*/
    animation-name: indexThe100ChangeColors;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
@keyframes indexThe100ChangeColors {
    from {color: black;}
    to {color: white;}
}

#homeBody{
    background: black;
    color: white;
}

#homePage{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .25fr 1fr;
}

#ratingForm{
    background: var(--neon-color);
    margin: 1em;
    padding: 1rem;
}

#songAndTitle{
    margin: 1em;
}

#rankingLabel, #ratingLabel, #submitSong, #newSong{
    color: white;
}

@media (max-width: 990px) {
    #homePage{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

.selected {
    color: yellow;
}

#search-label {
    color:white;
}

#dataSearchBoxContainer {
    display: flex;
    justify-content: flex-end;
}

#dataSearchBox #searchInput {
    border: 2px solid #A200FF;
}

#dataSearchIcon {
    color: #A200FF;
    font-size: 1.5em;
}

#dataBody, #songBody{
    background: black;
}

#card{
    background: transparent;
    color: white;
    border: 2px solid var(--neon-color);
}

#card:hover {
    background: var(--neon-color);
}

#dataSettings ul {
    list-style-type: none;
    padding-top: 1em;
    color: white;
    padding-left: 0;
}

#dataSettings ul li{
    display: inline-block;
    margin-right: 1em;
}
#dataSettings ul li:hover, #dataSettings ul .currentData{
    background: gray;
}

#songPage .card, #globalSongPage .card {
    background:var(--neon-color);
    color: white;
}

#songPage h6, #globalSongPage h6{
    margin-top: .5em;
}

#songBody #menuEdit, #songBody #menuDelete, #songBody #dropdownMenuButton {
    display: none;
}

.dropdown-menu-right {
    left: -128px;
}

#globalSongBody .dropdown-menu-right{
    left: -150px;
}

img{
    width:100%;
    max-width:200px;
}

#userInfoContainer{
    display: grid;
    grid-template-columns: auto auto;
}

#userInfo{
    background: var(--neon-color);
    color: white;
    margin: 1rem;
    margin-top: 6rem;
    padding: 1em;
}

#userSettings{
    background: var(--neon-color);
    color: white;
    padding: 1em;
    margin: 1rem;
}

/* .background-neon{
    background:rgba(162, 0, 255, 0.5);
    /* opacity: 1; */
/* } */
