body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

body > nav ul {
    list-style-type: none;
    padding-top: 1em;
}

body > nav ul li{
    display: inline-block;
    padding-right: 1em;
}
